<a href="https://colab.research.google.com/github/engin777/my-demo-repo/blob/main/4_kas%C4%B1m.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
given_list = [1,2,3,3,3,3,4,4,5,5]
unique = set(given_list)
print(unique)

{1, 2, 3, 4, 5}

In [ ]:
a = set("philedelphia")
b = set("dolphin")
#print(a -b)
print(a.difference(b))

{'e', 'a'}

In [ ]:
a & b == b & a

True

In [ ]:
date = "11/04/2021"
set(date)

{'/', '0', '1', '2', '4'}

In [ ]:
{date}

{'11/04/2021'}

In [ ]:
usa = set("washington")
nz = set("wellington")
usa - nz

{'a', 'h', 's'}

In [ ]:
nz - usa

{'e', 'l'}

In [ ]:
usa & nz

{'g', 'i', 'n', 'o', 't', 'w'}

In [ ]:
usa | nz

{'a', 'e', 'g', 'h', 'i', 'l', 'n', 'o', 's', 't', 'w'}

In [ ]:
minced = True
bread = True
lettuce = True
onion = True
grocer = True
hamburger = (minced and grocer and bread) and (lettuce or onion)
hamburger

True

In [ ]:
if hamburger :
  print("Bon Appetit")

Bon Appetit

In [ ]:
set1 = set("TWELVE PLUS ONE")
set2 = set("ELEVEN PLUS TWO")
if set1 == set2 :
  print("We are the same!")

We are the same!

In [ ]:
x = input("Please tell a word 'Yes'or 'No'")
x = x.title().strip()=="Yes"
print("You entered True")

Please tell a word 'Yes'or 'No'xxx
You entered True

In [ ]:
num = int(input("Enter a number:"))
if (num %2) == 0:
  print("{0} is Even".format(num))
else:
  print("{0} is Odd".format(num))

Enter a number:5
5 is Odd

In [ ]:
numo = int(input("Enter positive or negative number:"))
if numo > 0 :
  print("You entered positive number")
else :
  print("You entered negative number")

Enter positive or negative number:-5
You entered negative number

In [ ]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
if num1 > num2 :
  larger = num1
else :
  larger = num2 
  print("The larger number is", larger)

Enter first number:5
Enter second number:5
The larger number is 5.0

In [ ]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
if (num1 > num2) :
  print('The large number is', num1)
else:
  print('The large number is', num2)

Enter first number:8
Enter second number:5
The large number is 8.0

In [ ]:
a = set('warning')
b = set('bearing')
print(a-b)

{'w'}

In [ ]:
a = set('warning')
b = set('bearing')
print(a.difference(b))

{'w'}

In [ ]:
a = set('warning')
b = set('bearing')
print(b.difference(a))

{'b', 'e'}

In [ ]:
x = input('Enter user name:')
if x == 'engin' :
  print("Hello,Joseph! The password is : W@12")
else :
  print("Hello,Amina!See you later.")

Enter user name:engin
Hello,Joseph! The password is : W@12

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
# Desired output
[('Apples', 5, 1.50),
('Oranges', 3, 2.25),
('Bananas', 4, 0.89)]

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]