<a href="https://colab.research.google.com/github/engin777/my-demo-repo/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
no1 =46
print(no1/23)

2.0

In [ ]:
print(( 3* 4)/2)

6.0

In [ ]:
print(7//2)

3

In [ ]:
print(9%2)

1

In [ ]:
print('Result of this(23+8) sum:',23+8)

Result of this(23+8) sum: 31

In [ ]:
print("yesterday I ate",2,"apples")

yesterday I ate 2 apples

In [ ]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [ ]:
print("one", "two", "three", sep="\t")

one	two	three

In [ ]:
print('we','\bare','\bunited')

we are united

In [ ]:
print('it\'s funny to learn Python')

it's funny to learn Python

In [ ]:
text1= 'it'
text2='easy'
print(text1 +'\'s very '+ text2)

it's very easy

In [ ]:
fruit = 'orange'
print('word:', fruit)
print('first letter:', fruit[0])
print('second letter:', fruit[1])
print("3rd to 5th letters:", fruit[2:5])
print("letter all after 3rd:", fruit[2:])

word: orange
first letter: o
second letter: r
3rd to 5th letters: ang
letter all after 3rd: ange

In [ ]:
city = 'phoenix'
print(city[1:])
print(city[:6])
print(city[::2])
print(city[1::2])
print(city[-3:])
print(city[::-1])

hoenix
phoeni
ponx
hei
nix
xineohp

In [ ]:
vegetable = 'tomato'
print('length of the word', vegetable, 'is:', len(vegetable))

length of the word tomato is: 6

In [ ]:
print(str[4:])if str = 'Python Language'

SyntaxError: ignored

In [ ]:
print('clarus' + 'way')

clarusway

In [ ]:
print(3*'no way!')

no way!no way!no way!

In [ ]:
fruit = 'orange'
vegetable ='tomato'
print("using + :", fruit + vegetable)
print("using * :", 3* fruit)

using + : orangetomato
using * : orangeorangeorange

In [ ]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'
print(fruit)

orange apple banana apricot

In [ ]:
print('%.5s' % x)  x = "HelloWorld!"

SyntaxError: ignored

In [ ]:
x = "HelloWorld!" 
print('%.5s' % x)

Hello

In [ ]:
result = f"{4*5}"
print(result)

20

In [ ]:
x= 'orange'
y='tomato'
z= 6
output = f"The amount of {x} and {y} we bought are totally {z} pounds"
print(output)

The amount of orange and tomato we bought are totally 6 pounds

In [ ]:
my_name = 'joseph'
output = f"My name is {my_name.capitalize()}"
print(output)

My name is Joseph

In [ ]:
name = "joseph"
job = "teachers"
domain ="data science"
message = f"Hi {name}."\
f"You are one of the {job}"\
f" in the {domain} section."
print(message)

Hi joseph.You are one of the teachers in the data science section.

In [ ]:
first_name = 'engin'
last_name ='kazar'
#output = 'hello, ' + first_name +' '+last_name
#output= 'Hello, {} {}'.format(first_name, last_name)
#output= 'hello,{1}, {0}'.format(first_name, last_name)
output = f'Hello, {first_name} {last_name}'
print(output)

Hello, engin kazar