<a href="https://colab.research.google.com/github/engin777/my-demo-repo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thomas=33
edwin=30
walter=None
isabella=44+1

In [ ]:
type("ali")

str

In [ ]:
"clarusway@gmail.com"

'clarusway@gmail.com'

In [ ]:
"Tom's car"

"Tom's car"

In [ ]:
ali="ali"

In [ ]:
str(3.14)

'3.14'

In [ ]:
int(4.9)

4

In [ ]:
float(4)

4.0

In [ ]:
float("2.5") # ondalık sayı tam sayıyı da ondalık gibi algılar 4 ü 40 yapar

2.5

In [ ]:
"clarus" + "way"

'clarusway'

In [ ]:
x=39
v="11"
y="2.5"
z="I am at_"
print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

In [ ]:
print(int("5"+"1"))
print(str("5"+"1"))
print("5"+"1")

51
51
51

In [ ]:
number_int=123
number_flt=1.23
number_new=number_int + number_flt
print("datatype of number_int:", type(number_int))
print("datatype of number_flt:", type(number_flt))
print(Value of number_new:", number_new")
print("datatype of number_new:", type(number_new))

SyntaxError: ignored

In [ ]:
number_int = 123
number_str="456"
print("Data type of number_int:", type(number_int))
print("Data type of number_str:", type(number_str))
print(number_int + number_str)

Data type of number_int: <class 'int'>
Data type of number_str: <class 'str'>

TypeError: ignored

In [ ]:
number_int =123
number_str = "456"
print("Data type of number_int:", type(number_int))
print("Data type of number_str before Type Casting:", type(number_str))
number_str = int(number_str)
print("data type of number_str after Type Casting:", type(number_str))
number_sum = number_int + number_str
print("Sum of number_int and number_str:", number_sum)
print("Data type of the sum:", type(number_sum))

Data type of number_int: <class 'int'>
Data type of number_str before Type Casting: <class 'str'>
data type of number_str after Type Casting: <class 'int'>
Sum of number_int and number_str: 579
Data type of the sum: <class 'int'>

In [ ]:
print("5"+"1")

51